<div class="sale-container">
    <h2 class="page-title">
      <i class="fa-solid fa-cart-plus"></i> Add New Sale
    </h2>
    
    <div class="card">
      <form [formGroup]="saleForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="customer">Customer</label>
          <select id="customer" formControlName="customer" class="form-control">
            <option value="">Select Customer</option>
            <option *ngFor="let cust of customers" [value]="cust.id">
              {{ cust.name }}
            </option>
          </select>
        </div>
  
        <div class="form-group">
          <label for="product">Product</label>
          <select id="product" formControlName="product" class="form-control" (change)="onProductSelect($event)">
            <option value="">Select Product</option>
            <option *ngFor="let prod of products" [value]="prod.id">
              {{ prod.name }} ({{ prod.price | currency }})
            </option>
          </select>
        </div>
  
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="quantity">Quantity</label>
            <input type="number" id="quantity" formControlName="quantity" class="form-control" min="1">
          </div>
          <div class="form-group col-md-6">
            <label for="price">Unit Price</label>
            <input type="number" id="price" formControlName="price" class="form-control" readonly>
          </div>
        </div>
  
        <div class="form-group">
          <label for="total">Total Amount</label>
          <input type="number" id="total" formControlName="total" class="form-control" readonly>
        </div>
  
        <div class="form-actions">
          <button type="submit" class="btn btn-primary" [disabled]="!saleForm.valid">
            <i class="fa-solid fa-save"></i> Save Sale
          </button>
          <button type="button" class="btn btn-secondary" (click)="resetForm()">
            <i class="fa-solid fa-eraser"></i> Clear
          </button>
        </div>
      </form>
    </div>
  </div>