<div class="app-container">
  <app-header
  (toggleSidebar)="toggleSidebarIfVisible()"
  class="sticky-header"
  *ngIf="!hideHeader()"
></app-header>

  <div class="main-content">
    <app-sidebar #sidebar *ngIf="!hideSidebar()"></app-sidebar>

    <main class="content-area" [class.sidebar-collapsed]="isSidebarCollapsed">
      <app-breadcrumb *ngIf="!hideBreadcrumb()"></app-breadcrumb>
      <div style="overflow-y: auto;height: 100%;">
        <router-outlet></router-outlet>
      </div>
    </main>
  </div>
  <app-footer *ngIf="!hideFooter()"></app-footer>
</div>
