<aside class="sidebar" [class.collapsed]="isSidebarCollapsed">
  <!-- Header -->
  <div class="sidebar-header">
    <div class="logo-container">
      <span class="logo-icon">IA</span>
      <h1 class="logo-text" *ngIf="!isSidebarCollapsed">Inventory App</h1>
    </div>
    <button class="toggle-btn" (click)="toggleSidebar()">
      <i [ngClass]="isSidebarCollapsed ? 'fa-solid fa-chevron-right' : 'fa-solid fa-chevron-left'"></i>
    </button>
  </div>

  <!-- Navigation -->
  <nav class="sidebar-nav">
    <ul style="list-style-type: none;">
      <ng-container *ngFor="let item of menuItems; let i = index; trackBy: trackByFn">
        <li *ngIf="isVisible(item)" class="nav-item" [attr.title]="isSidebarCollapsed ? item.label : null">
          <a class="nav-link"
   [routerLink]="item.children ? null : item.route"
   routerLinkActive="active"
   [appTooltip]="isSidebarCollapsed ? item.label : ''"
   routerLinkActive="active"
   (click)="!isSidebarCollapsed && item.children && toggleMenu(i)">

  <i class="fa-solid" [ngClass]="'fa-' + item.icon"></i>
  <span *ngIf="!isSidebarCollapsed">{{ item.label }}</span>
  <!-- Correctly conditionally render expand/collapse icon -->
  <ng-container *ngIf="!isSidebarCollapsed && item.children">
  <i *ngIf="expandedMenus[i]" class="fa-solid fa-angle-up expand-icon"></i>
  <i *ngIf="!expandedMenus[i]" class="fa-solid fa-angle-down expand-icon"></i>
</ng-container>
  
</a>


          <!-- Submenus only if expanded and not collapsed -->
          <ul *ngIf="item.children && !isSidebarCollapsed && expandedMenus[i]" class="sub-menu">
            <li *ngFor="let child of item.children" class="sub-menu-item">
              <a [routerLink]="child.route" class="sub-menu-link" routerLinkActive="active">
                <i class="fa-solid" [ngClass]="'fa-' + child.icon"></i>
                {{ child.label }}
              </a>
            </li>
          </ul>
        </li>
      </ng-container>
    </ul>
  </nav>

  <!-- User Info -->
  <div class="user-profile">
    <div class="avatar" [attr.title]="isSidebarCollapsed ? 'John Doe' : null">JD</div>

    <div *ngIf="!isSidebarCollapsed" class="user-info">
      <div class="user-name">omit.com.np</div>
      <div class="user-role">{{ userRole | titlecase }}</div>
    </div>

    <button class="logout-btn" (click)="logout()" [attr.title]="isSidebarCollapsed ? 'Logout' : null">
      <i class="fa-solid fa-right-from-bracket"></i>
    </button>
  </div>
</aside>
